<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Log File</title>
</head>
<body>
<li><a href="{{ url_for('login') }}">LOGIN</a></li>
<h1>Upload new File</h1>
    <form action="{{url_for('post_upload', lobby_id="-4419229")}}" method=post enctype=multipart/form-data >
      <input type=file name=file>
        <h5>Winning Team:</h5>
        <label for="winning_team">Winning Team:</label>
        <select name="teams" id="winning_team">
            <option value="">Choose Winning Team</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
      <input type=submit value=Upload>
    </form>
</body>
</html>